{% spaceless %}
<!doctype html>
<html data-theme="{{ settings.extension_id }}" data-store="{{ store.id }}" class="page-{{ pages.current }}">
<head>

    <!-- tray charset -->
    {{ html.charset() }}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- tray meta tags -->
    {{ tray.meta }}

    <!-- tray styles -->
    {{ tray.styles }}

    <!-- theme styles -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nova+Square" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/theme.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/animate.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/custom.css', {dynamic: true}) }}" type="text/css">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('img/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('img/favicon-16x16.png') }}">
    <link rel="mask-icon" href="{{ asset('img/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">





    <style>
        {{ settings.custom_css }}
    </style>

    <!-- tray analytics -->
    {{ tray.analytics }}

    <!-- google tag manager -->
    {{ googleTagManager.header(pages.current, tagManagerData) }}
</head>
<body>
    {{ googleTagManager.top(pages.current, tagManagerData) }}

    {% element 'snippets/messages' %}

    {% element 'snippets/menu-mobile' %}

    <div class="application">

      {% if pages.current in ['home'] %}
      {% element 'header' %}
      {% else %}
      {% element 'header-small' %}
      {% endif %}

      {% if pages.current in ['home'] %}
      <main class="site-main">
        <section class="content">
          <div class="post-holder">
            <div class="title-post-front">
              <span><i><t5><t5></i></span>
            </div>
            <div class="text-post-front">
              <div class="product-holder">
                <div class="product-right">
                  <div class="product-big-tall2"><div class="title-holder">
                  <span class="tall-title2">MOTOSPEED</span>
                  <div class="btn-holder5">
                    <button class="btn-login"><a href="https://www.tecnomult.com/motospeed">VEJA MAIS</a></button>
                    </div>
                    </div>
                  </div>
                </div>
                <div class="product-category-holder">
                  <div class="product-small">
                    <span class="small-title">CORSAIR</span>
                    <div class="btn-holder3">
                      <button class="btn-login-black"><a href="https://www.tecnomult.com/corsair">VEJA MAIS</a></button>
                      </div>
                  </div>
                  <div class="product-small2">
                    <span class="small-title2">ROCCAT</span>
                    <div class="btn-holder4">
                      <button class="btn-login"><a href="https://www.tecnomult.com/roccat">VEJA MAIS</a></button>
                      </div>
                  </div>
                </div>
                <div class="product-middle">
                  <div class="product-big-wide">
                    <div class="title-holder">
                    <span class="wide-title">HYPERX</span>
                    <div class="btn-holder">
                      <button class="btn-login"><a href="https://www.tecnomult.com/hyperx">VEJA MAIS</a></button>
                      </div>
                      </div>
                  </div>
                </div>
                <div class="product-right">
                  <div class="product-big-tall"><div class="title-holder">
                  <span class="tall-title">LOGITECH</span>
                  <div class="btn-holder2">
                    <button class="btn-login"><a href="https://www.tecnomult.com/logitech">VEJA MAIS</a></button>
                    </div>
                    </div></div>
                    <div class="product-small3">
                      <span class="small-title2">LOGITECH</span>
                      <div class="btn-holder4">
                        <button class="btn-login"><a href="https://www.tecnomult.com/logitech">VEJA MAIS</a></button>
                        </div>
                    </div>
                    <div class="product-small4">
                      <span class="small-title2">MOTOSPEED</span>
                      <div class="btn-holder4">
                        <button class="btn-login"><a href="https://www.tecnomult.com/motospeed">VEJA MAIS</a></button>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="product-list-title">
          <div class="product-big-titles">
          <span>LANÇAMENTOS</span>
          </div>
        </div>
      {% else %}
      {% endif %}

            <div class="row darken">



                <section class="page-content">
                    {{ content_for_layout }}
                </section>

                {% if pages.current in ['catalog', 'search'] %}
                    {% if settings.history_position == 1 %}

                    {% endif %}
                {% endif %}
            </div>
        </main>

        {% element 'footer' %}



        {% if pages.current in ['catalog', 'search', 'product'] %}
            {% if settings.history_position == 2 %}

            {% endif %}
        {% endif %}

    </div>

    {% element 'snippets/credits' %}

    <!-- tray -->
    {% element 'snippets/modal' %}
    {{ googleTagManager.bottom(pages.current, tagManagerData) }}
    {{ tray.scripts }}
    {{
            html.script({
                '0' : tray.paths.js ~ 'dist/application.min.js?' ~ utils.assets_version,
                '1' : tray.paths.js ~ 'init.js?' ~ utils.assets_version
            })
    }}
    {% element 'snippets/pageview' %}
    {{ store.chat }}

    <!-- theme scripts-->

    <script type="text/javascript" src="{{ asset('js/slick.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/theme.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/fixednav.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/mainbanner.js') }}"></script>

    {% if settings.background_image %}
    <style>
        .application{ background-image: url('{{ themePath }}{{ settings.background_image }}'); }
    </style>
    {% endif %}

</body>
</html>
{% endspaceless %}
