<section id="landpage" class="landpage">
  <div id="header-bar" class="header-bar"></div>
<div id="header" class="header">
  <div class="logo-holder animated slideInDown">
    <img src="assets/images/tecnologo.png" width="250px" height="auto">
  </div>
  <div class="menu-holder animated slideInDown">
    <div class="dropdown">
      <button class="dropbtn"><span class="orange-plus">+</span> HEADSET</button>
      <div class="dropdown-content animated fadeIn">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn"><span class="orange-plus">+</span> TECLADO</button>
      <div class="dropdown-content animated fadeIn">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn"><span class="orange-plus">+</span> MOUSE</button>
      <div class="dropdown-content animated fadeIn">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn"><span class="orange-plus">+</span> MONITOR</button>
      <div class="dropdown-content animated fadeIn">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn"><span class="orange-plus">+</span> CADEIRA</button>
      <div class="dropdown-content animated fadeIn">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn"><span class="orange-plus">+</span> MOUSEPAD</button>
      <div class="dropdown-content animated fadeIn">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn"><span class="orange-plus">+</span> PLACA DE VÍDEO</button>
      <div class="dropdown-content animated fadeIn">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
  </div>
  <div class="mobile-menu animated rotateIn"><span class="fas fa-bars"></span></div>
</section>

{% if settings.limitProducts %}
    {% set limitProducts = settings.limitProducts %}
{% else %}
    {% set limitProducts = 12 %}
{% endif %}

{% set showAvailable = settings.show_available_products ? 'available' %}

{% if settings.showcase == "featured" %}
    {% set showcaseText = Translation('destaques') %}
{% elseif settings.showcase == "new" %}
    {% set showcaseText = Translation('lancamentos') %}
{% elseif settings.showcase == "free_shipping" %}
    {% set showcaseText = Translation('frete_gratis_min') %}
{% elseif settings.showcase == "promotion" %}
    {% set showcaseText = Translation('promocoes') %}
{% elseif settings.showcase == "top_seller" %}
    {% set showcaseText = Translation('mais_vendidos') %}
{% endif %}

{% if showAvailable %}
    {% if settings.showcase == "top_seller" %}
    <div id="prognoos_popv1"></div>

        {% set products = Products({
            'filter': showAvailable,
            'limit': limitProducts,
            'order': {'quantity_sold': 'desc'}
        }) %}

    {% else %}
        {% set products = Products({
            'filter': [showAvailable, settings.showcase],
            'limit': limitProducts,
            'order': 'rand'
        }) %}
    {% endif %}

{% else %}
    {% if settings.showcase == "top_seller" %}
    <div id="prognoos_popv1"></div>

        {% set products = Products({
            'filter': available,
            'limit': limitProducts,
            'order': {'quantity_sold': 'desc'}
        }) %}
    {% else %}
        {% set products = Products({
            'filter': settings.showcase,
            'limit': limitProducts,
            'order': 'rand'
        }) %}
    {% endif %}
{% endif %}

{% if utils.is_mobile and settings.enable_banner_home %}
    {% element 'snippets/banner-home' %}
{% else %}
    {% if not utils.is_mobile %}
        {% element 'snippets/banner-home' %}
    {% endif %}
{% endif %}

<!--banner regua -->
{% if not utils.is_mobile and banner.extra1 %}
    <div class="banner banner-ruler">
        {{ banner.extra1 }}
    </div>
{% elseif utils.is_mobile and banner.extra8 %}
    <div class="banner banner-ruler">
        {{ banner.extra8 }}
    </div>
{% endif %}

{% element 'showcase' {
    "products": products,
    "showcaseTitle": showcaseText
} %}

{% if banner.bottom %}
    <div class="banner banner-bottom {% if not settings.enable_banner_default %}mobile-off{% endif %}">
        {{ banner.bottom }}
    </div>
{% endif %}

{% if pages.current == 'home' %}
	{{ banner.popup ~ banner.floating }}
{% endif %}
